.cycle-slideshow{ :data => {:cycle_slides => "> div", :cycle_paused => 'true', :cycle_next => '> .pagination > li > .cycle-next', :cycle_prev => '> .pagination > li > .cycle-prev'}}
  - section.links.each_slice(3) do |slide|
    .slide.clearfix
      - slide.each do |link|
        .clearfix.item.col-lg-10
          .col-md-5.pull-left
            =link_to image_tag(video_thumbnail_path(:title => link.slug, :section => section.slug), :class => 'lg-thumbnail', :alt => link.title), link.href, :class => 'video-thumbnail', :target => '_blank'
          .col-md-7.col-sm-8.col-xs-12.pull-left
            %h4.text-capitalize
              =link_to link.title, link.href, :target => '_blank'
            %p=link.description
  - if section.links.count > 3
    %ul.pagination.text-center
      %li
        %a.cycle-prev{:href => "#"} « Prev
      %li
        %a.cycle-next{:href => "#"} » Next       
